@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body,
ul,
li {
    margin: 0px;
    padding: 0px;
}

p {
    color: #d6d6d6;
}

h1,
h2,
h3 {
    color: 1e2528;
}

.wrapper {
    width: 96%;
    max-width: 1900px;
    margin: 0 auto;
    padding: 0 2%;
}

header {
    background: #ffffff;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    text-indent: -10000px;
    background: url(images/logo.jpg) no-repeat;
    width: 110px;
    float: left;
    height: 80px;
    margin-left: 320px;
}

header h1:after {
    content: "";
    display: block;
    clear: both;
}

header nav {
    float: right;
    padding: 50px;
    font-size: 14px;
    margin-right: 200px;
}

header nav:after {
    content: "";
    display: block;
    clear: both;
}

header nav ul {
    margin: 0;
    padding: 0;
}

header nav li {
    list-style-type: none;
    float: left;
    margin-left: 20px;
}

header nav li:after {
    content: "";
    display: block;
    clear: both;
}

nav {
    padding: 0px;
    margin: 0px;
}

nav:after {
    display: block;
    content: "";
    clear: both;
}

h1#spaHeader {
    font-size: 60px;
}

.empty {
    margin-top: 60px;
}

.text {
    max-width: 625px;
    position: relative;
    float: left;
    left: 6%;
}

h3#spaTitle {
    font-size: 15px;
    color: #ff9593;
}

button.reserve {
    background: #ff817e;
    color: #ffff;
    padding: 15px;
}

.playDiv {
    position: absolute;
    left: 150px;
    top: 300px;
}

.lef {
    text-align: center;
    display: block;
    max-width: 100px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.description {
    text-align: center;
    width: 600px;
    margin: 0 auto;
}

.gray {
    color: #d6d6d6;
}

.pink-flower {
    position: absolute;
    margin-left: 60%;
    margin-top: -20;
}

button.readMore {
    background: #ff817e;
    color: #ffff;
    padding: 9px;
    border-radius: 20px;
    text-align: center;
    display: block;
    margin: 0 auto;
}

section#bodyTreatment {
    position: relative;
}

.banner {
    float: left;
    width: 120%;
}

.banner:after {
    content: "";
    clear: both;
    display: block;
}

.imgBaner {
    float: left;
    width: 20%;
}

.imgBaner:after {
    content: "";
    clear: both;
    display: block;
}

.container {
    display: -webkit-flex;
    display: flex;
}

.initial {
    -webkit-flex: initial;
    flex: initial;
    width: 200px;
    min-width: 100px;
}

.container {
    display: flex;
    text-align: center;
    border-color: black;
    margin-top: 20px;
}

.flex2 {
    display: flex;
    text-align: center;
    border: 1px solid white;
    margin-top: 20px;
    height: 400px;
    background-color: #fe8d8b;
    -webkit-flex: 2;
    flex: 2;
}

.flex3 {
    display: flex;
    text-align: center;
    border: 1px solid white;
    margin-top: 20px;
    height: 400px;
    background-color: #fe8d8b;
    -webkit-flex: 2;
    flex: 2;
}

img.no-padding {
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 50%;
    left: 35%;
}

.no-padding-Test {
    padding: 0px;
    position: absolute;
    color: white;
    top: 60%;
    left: 30%;
    display: block;
    margin-left: 1%;
}

.text:after {
    content: "";
    clear: both;
    display: block;
}

.block {
    display: block;
    position: relative;
}

.block:after {
    content: "";
    clear: both;
    display: block;
}

.blocks {
    width: 31%;
    margin: 0.5%;
    display: inline-block;
    padding: 20px;
    border: 2px solid #acb2b9;
    margin-left: 1.0%;
    text-align: center;
}

.blocks:after {
    content: "";
    clear: both;
    display: block;
}

.textCenter {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

img.full-width {
    width: 100%;
}

.quote {
    text-align: center;
    width: 80%;
    display: block;
    margin: 0 auto;
    padding: 50px;
    background-color: #fff9f8;
}

section#quotes {
    background-color: #fff9f8;
    padding: 20px;
}

section#experiencedTeam::after {
    display: block;
    content: "";
    clear: both;
}

h1.no-padding-h1 {
    padding: 0px;
    margin: 0px;
    display: block;
}

img.quote {
    height: auto;
    width: auto;
    border-radius: 70%;
    padding: 0px;
    margin: 0 auto;
}

ul.social {
    list-style-type: none;
    margin: 0px -59px;
}

.profile {
    width: 31.33%;
    text-align: center;
    margin: 1%;
    float: left;
    padding: 1%;
    position: relative;
}

.profile::after {
    display: block;
    clear: both;
    content: "";
}

.whiteBlock {
    background-color: white;
    z-index: 1;
    position: absolute;
    margin: 0 auto;
    padding: 1px 20px 0px 1px;
    width: 325px;
    top: 80%;
    left: 9%;
}

.whiteBlock::after {
    display: block;
    clear: both;
    content: "";
}

.containerProfile {
    margin: 40px 50px;
}

section#experiencedTeam {
    display: block;
    margin-bottom: 100px;
}

.form {
    max-width: 60%;
    text-align: center;
    margin: 0 auto;
}

input[type="text"] {
    display: inline-block;
    padding: 0px;
    width: 49%;
    padding: 12px 1px;
    margin: 6px 0px;
}

select {
    display: inline-block;
    margin: 0px;
    width: 49%;
    padding: 1px;
}

section#form {
    background-color: #fff9f8;
    padding: 60px;
}

ul#social li {
    padding: 5px 0px;
    text-align: center;
    margin: 0px auto;
    width: 10%;
    display: inline-block;
    list-style-type: none;
}

ul#footerNAV li {
    padding: 5px 0px;
    text-align: center;
    margin: 0px auto;
    width: 10%;
    display: inline-block;
    list-style-type: none;
}

ul#footerNAV {
    padding: 0px;
    margin: 0px auto;
    width: 750px;
    position: absolute;
    left: 33.33%;
    padding-top: 10px;
}

.footerMenu {
    display: block;
    max-width: 150px;
    margin: 0 auto;
}
