* {
    font-family: 'Roboto', sans-serif;
}

body, ul, li{
    margin: 0px;
    padding:0px;
}

p{
    color: #d6d6d6;
    
}

h1,h2,h3{
    color:1e2528;
}

.wrapper{
    width: 96%;
    max-width: 1900px;
    margin: 0 auto;
    padding: 0 2%;
    
}

header{
    background: #ffffff;
    padding: 20px 0;
    
}

header h1{
    margin: 0;
    text-indent: -10000px;
    background: url(images/logo.jpg) no-repeat;
    width:110px;
    float: left;
    height: 80px;
    margin-left: 320px;
}

header nav{
    float: right;
    padding: 50px;
    font-size: 14px;
    margin-right: 200px;
}

header nav ul{
    margin:0;
    padding: 0;
}

header nav li{
    list-style-type: none;
    float:left;
    margin-left:20px;
}
nav{
    padding: 0px;
    margin: 0px;
}
nav:after{
    display: block;
    content: "";
    clear: both; 
}

h1#spaHeader{
    font-size: 60px;
}

.empty{
    margin-top: 60px;
}

.text{
    margin-top: 250px;
    margin-left: 350px;
    width: 625px
}

.img{ 
    float: left;
}
h3#spaTitle{
    font-size:15px;
    color: #ff9593;
}

button.reserve {
    background: #ff817e;
    color: #ffff;
    padding: 15px;
    /* margin: 15; */
}
.playDiv {
    position: absolute;
    top: 585px;
    left: 499px;
}

.lef {
    text-align: center;
    margin: 20px;
    display: block;
}

.description {
    text-align: center;
    width: 600px;
    margin: 0 auto;
}
.gray{
        color: #d6d6d6;
}

.pink-flower {
    position: absolute;
    margin-left: 60%;
    margin-top: -20;
    /* margin-right: 2%; */
    /* display: inline-block; */
}
button.readMore{
    background: #ff817e;
    color: #ffff;
    padding: 9px;
    border-radius: 20px;
    text-align: center;
    /* position: absolute; */
    display: block;
    margin: 0 auto;
    
    }

section#bodyTreatment {
    position: relative;
}

*/
.col-2, .col-1, .col-3, .col-4 {
    float: left;
    width: 33.3%;
    padding: 50px;
    box-sizing: border-box;
    color: aqua;
}

/*
img.no-padding {
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 50%;
    left: 35%;
}
.no-padding-Test {
    margin: 0px;
    padding: 0px;
    position: absolute;
    color: white;
    top: 60%;
    left: 31%;
}

*/